node_modules/
awscli-bundle/
bundle.js
images/
product-images/
*.json
!package*.json
storage/
*.png
*.jpg
*.jpeg
patent-application/
*.zip
*.psd
firebase-key.json
functions/firebase-key.json
node-utility-scripts/
*.icloud
*.pdf
*.code-workspace
.DS_Store

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
