/* temp CSS file */

body {
	background: white;
}

.search-overlay {
	display: block;
	position: absolute;
	top: .5em;
	right: .5em;
	width: auto;
	padding: 20px;
	background: lightgrey;
	opacity: 0.9;
	border: 1px solid grey;
}