/* this is the webpack compiled style */
/* latin */
@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: local('Carter One'), local('CarterOne'), url(https://fonts.gstatic.com/s/carterone/v9/q5uCsoe5IOB2-pXv9UcNExN8hK5SAMo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-1h4Tus9CAZek1w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-sh0Tus9CAZek1w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */
/* loading 500 weight Oswald (Oswald Medium) using data uri, otherwise it does not show up on inital load */


/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-xhsTus9CAZek1w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-ohoTus9CAZek1w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  overflow: hidden;
	background: #f2f2f2;
	font-family: Oswald;
	font-weight: 300;
	font-size: 14px;
	color: #111;
	/* background-image: url('https://s3-us-west-1.amazonaws.com/consumerland/other-images/wood-floor-web.jpg'); */
}

.ol-attribution, .ol-zoom {
	display: none;
}

.permanent-marker {
  font-family: 'Carter One', sans-serif;
}

.loading {
  font-size: 2em;
  font-weight: 700;
  color: #606060;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MODAL */

.modal {
  font-family: Arial, sans-serif;
  color: #212529;
}

.modal-header {
  background-color: rgba(0, 133, 62, 1);
}

.modal-title {
  color: rgba(249, 198, 90, 1);
}

.modal-body {
  font-size: 18px;
}

.modal h4.alert-secondary {
    color: #383d41;
    background-color: rgba(249, 198, 90, 0.3);
    border-color: rgba(249, 198, 90, 0.7);
}

.btn-success {
	background-color: rgba(0, 133, 62, 1);
	border-color: rgba(0, 133, 62, 0.9);
}
.btn-warning {
	background-color: rgba(249, 198, 90, 1);
	border-color: rgba(249, 198, 90, 0.9);
}

.text-warning {
  color: rgba(249, 198, 90, 1);
}

/* FEATURE PREVIEW */
.product-preview {
  position: absolute;
  top: 0;
  left: -9999px;
  min-width: 200px;
}

.preview-image {
	height: 55px;
  width: 55px;
  background-size: contain;
}

/* PRODUCT HOVER CARD */
.product-hover-card {

}
/* OMNIBOX  */
.omnibox {
  display: block;
  position: absolute;
  bottom: auto;
  right: auto;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  z-index: 99;
  cursor: default;
}
.omnibox.open {
  background-color: #f0f0f0;
  border-right: 1px solid black;
}

.search-bar {
  width: 95%;
}
.search-bar .input-group input.form-control {
  border: none;
}

.autocomplete .ui-menu-item {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #111;
}
.autocomplete .ui-menu-item-wrapper {
  padding: 15px 0;
}
.autocomplete .ui-autocomplete-term {
  font-weight: 600;
}
.autocomplete .feature-parent {
  color: rgba(249, 198, 90, 1);
}

.departments {
  background-color: #fff;
  height: 90%;
  position: relative;
}

.departments .omni-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 94%;
}

.departments .omni-list-header {
  height: 6%;
}

.departments .media {
  background-color: #fff;
  width: 100%;
  cursor: pointer;
}
.departments .media.type-product {
  cursor: default;
}

.departments .media-body {
  max-height: 200px;
  overflow: hidden;
}

.departments .omni-list-name {
  font-size: 16px;
  font-weight: 300;
  display: block;
}

.departments .child-link {
  font-size: 11px;
  font-weight: 200;
  cursor: pointer;
}

.departments .child-link:hover, .departments .child-link:active {
  text-decoration: underline;
}

/* OVERVIEW MAP */

.overviewmap {
	position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
	background: rgba(255,255,255,1);
  width: 284px;
  height: 154px;
	z-index: 10;
  will-change: content;
  display: none;
}

.overviewmap.ol-overviewmap {
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}
.overviewmap.ol-overviewmap .ol-overviewmap-map {
  width: 100%;
  height: 150px;
  margin: 0;
}

.overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.overviewmap.ol-overviewmap:not(.ol-collapsed) button{
  display: none;
  bottom: auto;
  left: 1px;
  right: auto;
  top: 1px;
  position: absolute;
}

/* PRODUCT DETAIL OVERLAY */

.product-overlay {
	position: absolute;
	height: auto;
	width: 500px;
	padding: 20px;
	background: rgba(255,255,255,1);
	z-index: 10;
}

.product-overlay .product-image {
	height: 250px;
	width: 250px;
}


/* Cart */
.cart {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  left: auto;
  bottom: auto;
}

.navbar-nav .cart-contents.dropdown-menu {
  position: absolute;
}

.cart-contents {
  max-height: 700px;
}

.cart-image {
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}

.cart-product-name {
  font-size: .85em; 
  margin-right: 0.5rem;
}


/* Dev Tools */

.data-tool {
	position: absolute; 
	bottom: 20px; 
	right: 30px; 
	font-size: 16px; 
	color: red; 
	z-index: 1000;
	background: white;
  display: block;
}
/*
* MEDIA QUERIES
*
*/

/* Phones */
@media (max-width: 767.98px) {
  .product-preview {
    display: none;
  }
  .product-overlay {
    width: 300px;
  }
  .product-overlay .h4 {
    font-size: 1rem;
  }
  .product-overlay .media {
    flex-wrap: wrap;
  }
  .product-overlay img {
    margin: auto;
  }
}
/* Tablets and below */
@media (max-width: 991.98px) {
  #preview, #departments {
    display: none;
  }
}