/* temp CSS file */

body {
	background: white;
	font-family: sans-serif;
	font-size: 12px;
	color: #000;
	background-image: url('../other-images/wood-floor-web.jpg');
}

/* SEARCH OVERLAY */

.search-cart-overlay {
	display: block;
	position: absolute;
	top: 1em;
	right: 1em;
	width: auto;
	opacity: 1;
}

.search-bar {
	background: white;
}

.cart-image {
	height: 50px;
	width: 50px;
}
.cart-contents {
	display: none;
	background: white;
}

#info {
	float: right;
	width: 40%;
}

/* PRODUCT CARD OVERLAY */

.product-card {
	position: absolute;
	background: rgba(255,255,255,1);
	padding-top: 10px;
	z-index: 10;
}

.product-card .product-image {
	height: auto;
	width: auto;
	cursor: pointer;
}

/* PRODUCT DETAIL OVERLAY */

.product-overlay {
	position: absolute;
	height: 330px;
	width: 500px;
	padding: 20px;
	background: rgba(255,255,255,1);
	z-index: 10;
}

.product-overlay .product-name {
}

.product-overlay .product-image {
	height: 200px;
	width: 200px;
}

.product-overlay .product-price {
}

/* Dev Tools */

.data-tool {
	position: absolute; 
	top: 20px; 
	left: 30px; 
	font-size: 16px; 
	color: red; 
	z-index: 1000;
	background: white;
}

